#  1. LIST  AND ITS DEFAULT FUNCTIONS

In [4]:
lst =  [ "ketan", 1, 2, 3, 4, [ 21, 22, 23]]

In [5]:
lst

['ketan', 1, 2, 3, 4, [21, 22, 23]]

In [8]:
lst.append("ketan1")

In [9]:
lst[0]

'ketan'

In [10]:
lst

['ketan', 1, 2, 3, 4, [21, 22, 23], 'ketan1']

In [12]:
lst[5][2]

23

In [13]:
lst[-2]

[21, 22, 23]

In [14]:
lst[-2][-1]

23

In [15]:
lst.count(lst)

0

In [22]:
lst.count(lst[3])

1

In [23]:
lst.pop()

'ketan1'

In [24]:
lst.remove("ketan")

In [25]:
lst

[1, 2, 3, 4, [21, 22, 23]]

In [30]:
lst.append("ketan1""ketan2" "ketan3")

In [31]:
lst

[1, 2, 3, 4, [21, 22, 23], 'ketan1ketan2ketan3']

# 2. Dictionary AND ITS DEFAULT FUNCTIONS

In [32]:
dit = { " name ": " Ketan ", " age ": "25" , 
      "number": 123456789 , " email ": "ketan.sharma095"}

In [33]:
dit

{' name ': ' Ketan ',
 ' age ': '25',
 'number': 123456789,
 ' email ': 'ketan.sharma095'}

In [34]:
#retrieving a value from dictionary 

dit.get(' name ')

' Ketan '

In [35]:
dit

{' name ': ' Ketan ',
 ' age ': '25',
 'number': 123456789,
 ' email ': 'ketan.sharma095'}

In [39]:
dit.pop(' name ')

' Ketan '

In [40]:
dit.pop('number')

123456789

In [41]:
dit

{' age ': '25', ' email ': 'ketan.sharma095'}

In [45]:
dit.update()

In [46]:
dit

{' age ': '25', ' email ': 'ketan.sharma095'}

In [48]:
dit.update(dit)

In [49]:
dit

{' age ': '25', ' email ': 'ketan.sharma095'}

In [50]:
dit.items()

dict_items([(' age ', '25'), (' email ', 'ketan.sharma095')])

In [54]:
dit

{' age ': '25', ' email ': 'ketan.sharma095'}

#  3. SETS AND ITS FUNCTIONS

In [55]:
# Sets are used for storing unique values in the python,
# Sets are complex data structures.
# Sets are Class in Python , whose object can be derived 
# Sets are mostly used for finding UNION ,disjoin and findings common and uncommons in the python data type

In [56]:
st = {"ketan","letsupgrade",1,2,3,4,5,6,7,8,9 }

In [57]:
st

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'ketan', 'letsupgrade'}

In [58]:
st1 ={"sharma", "letsupgrade", 21, 22, 23, 24 }

In [59]:
st.issuperset(st1)

False

In [60]:
st2 = { "ketan", 5}

In [61]:
st2

{5, 'ketan'}

In [62]:
st1

{21, 22, 23, 24, 'letsupgrade', 'sharma'}

In [63]:
st2.issubset(st)

True

In [64]:
st2.issubset(st1)

False

In [65]:
st.issuperset(st2)

True

In [67]:
st.add('56,57,')

In [68]:
st

{1, 2, 3, 4, 5, '56,57,', 6, 7, 8, 9, 'ketan', 'letsupgrade'}

In [69]:
st1.union(st)

{1,
 2,
 21,
 22,
 23,
 24,
 3,
 4,
 5,
 '56,57,',
 6,
 7,
 8,
 9,
 'ketan',
 'letsupgrade',
 'sharma'}

In [70]:
st

{1, 2, 3, 4, 5, '56,57,', 6, 7, 8, 9, 'ketan', 'letsupgrade'}

In [71]:
st1

{21, 22, 23, 24, 'letsupgrade', 'sharma'}

In [75]:
st.update('sharma123')

In [73]:
st

{1,
 '1',
 2,
 '2',
 3,
 '3',
 4,
 5,
 '56,57,',
 6,
 7,
 8,
 9,
 'a',
 'h',
 'ketan',
 'letsupgrade',
 'm',
 'r',
 's'}

In [76]:
st

{1,
 '1',
 2,
 '2',
 3,
 '3',
 4,
 5,
 '56,57,',
 6,
 7,
 8,
 9,
 'a',
 'h',
 'ketan',
 'letsupgrade',
 'm',
 'r',
 's'}

In [78]:
st.remove('ketan')

In [79]:
st

{1,
 '1',
 2,
 '2',
 3,
 '3',
 4,
 5,
 '56,57,',
 6,
 7,
 8,
 9,
 'a',
 'h',
 'letsupgrade',
 'm',
 'r',
 's'}

# 4. TUPLES AND ITS FUNCTIONS

In [80]:
# Tuples are ORDERED immutable collection/sequence of objects 
# Once the data is written its in that forever
# it cant be changed

In [81]:
tup = ("ketan",'@',".sharma095")

In [83]:
tup

('ketan', '@', '.sharma095')

In [86]:
tup.count('.sharma095')

1

In [87]:
tup.index('@')

1

In [88]:
tup

('ketan', '@', '.sharma095')

# 5. STRINGS AND ITS FUNCTIONS

In [89]:
name = 'sarabjit'
name1 = 'mercury man '

In [91]:
name

'sarabjit'

#

In [92]:
name1

'mercury man '

In [96]:
name+ ' is a ' +name1

'sarabjit is a mercury man '

In [97]:
type(name)

str

In [98]:
name.capitalize()

'Sarabjit'

In [99]:
name

'sarabjit'

In [100]:
name1.capitalize()

'Mercury man '

In [105]:
name3 = name.join(name1)

In [106]:
name3

'msarabjitesarabjitrsarabjitcsarabjitusarabjitrsarabjitysarabjit sarabjitmsarabjitasarabjitnsarabjit '

In [108]:
name3.count(name)

11

In [109]:
name

'sarabjit'

In [110]:
name3

'msarabjitesarabjitrsarabjitcsarabjitusarabjitrsarabjitysarabjit sarabjitmsarabjitasarabjitnsarabjit '

In [111]:
name1.index(name1)

0

In [112]:
name3.index(name3)

0